.Boutons_09 {
	font-family: Lucida Grande;
	font-size: 9px;
}

.Boutons_10 {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Boutons_11 {
	font-family: Lucida Grande;
	font-size: 11px;
}

.Boutons_12 {
	font-family: Lucida Grande;
	font-size: 12px;
}

.Boutons_13 {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.ObjectTitles {
	font-family: Lucida Grande;
	font-size: 18px;
}

.OS_Style {
	font-family: Lucida Grande;
	font-size: 13px;
}

.OS_StyleSmall {
	font-family: Lucida Grande;
	font-size: 11px;
}

.Petits_boutons {
	font-family: Lucida Grande;
	font-size: 11px;
}

